/* Reset */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Allows us to put custom margins and padding */
}

/* Main Styling / Core Styling */

html,body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a
{
    color: #333;
    text-decoration: none;
}

h1, h2, h3
{
    padding-bottom: 20px;
}

p
{
    margin: 10px 0;
}

/* Utility Classes */

.container
{
    margin: auto;
    /* Centers the container  */
    max-width: 1100px;
    /* For Responsive Reasons */
    overflow: auto;
    /* Always shows the background */
    padding: 0 20px; 
}

.text-primary
{
    color: #f7c08a;
}

.lead
{
    font-size: 20px;
}

.btn
{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover
{
    background: #f7c08a;
    color: #333;
}

.btn-light
{
    background: #f4f4f4;
    color: #333;
}

.bg-dark
{
    background: #333;
    color: #fff;
}
.bg-light
{
    background: #f4f4f4;;
    color: #333;
}
.bg-primary
{
   background: #f7c08a;
   color: #333;
}

.clr
{
    clear: both;
}

.l-heading
{
    font-size: 40px;
    /* "l-heading" stands for Large Heading */
    line-height: 1.2;
}

/* Padding */
/* "py" stands for padding on the Y axis */

.py-1{ padding: 10px 0;}
.py-2{ padding: 20px 0;}
.py-3{ padding: 30px 0;}

/* Navbar */

#navbar
{
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a
{
    color: #fff;
}

#navbar h1
{
    float: left;
    padding-top: 20px;
}

#navbar ul
{
    list-style-type: none;
    float: right;
}

#navbar ul li
{
    float: left;
}

#navbar ul li a
{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.active
{
    background: #444;
    color: #f7c08a;
}

/* Showcase Styles */

#showcase
{
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    /* The double dot is to go out of the current folder */
    /* A single dot is to remain in the current folder */
    /* Makes the image longer */
    height: 600px;
}

#showcase .showcase-content
{
    color: #fff;
    text-align: center;
    padding-top: 170px;
    /* Padding top moves the content down */
    /* The difference between "padding-top" and "margin-top" is that "padding-top" moves just the content
        down..."margin-top" moves the entire element down.*/
}

#showcase .showcase-content h1
{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p
{
    padding-bottom: 20px;
    /* This pushed the button further down */
    line-height: 1.7em;
}

/* Home Info */

#home-info
{
    height: 450px;
}

#home-info .info-img
{
    float: left;
    width: 50%;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;  
}

#home-info .info-content
{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p
{
    padding-bottom: 30px;
}

/* Features (Fitness, Location and Meals boxes) */

.box
{
    float: left;
    /* This makes the boxes float in a row */
    /* This put the boxes in a row */
    width: 33.3%;
    padding: 50px;
    /* This padding will not be added to the width now because we have put "border-box" in our
       reset */
    text-align: center;
}

.box i
{
    margin-bottom: 10px;
}


/* About Page */

/* About info */

#about-info .info-right
{
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img
{
    display: block;
    margin: auto;
    /* We can only set "margin:auto" to an image once we have displayed it as a block */
    /* An image is displayed as an "inline block" by default and "Margin:auto" will not work on it */
    width: 70%;
    border-radius: 50%;
    /* This makes the image circular */
}

#about-info .info-left
{
    float: left;
    width: 50%;
    min-height: 100%;
}

/* Testimonials */

#testimonials
{
    height: 100%;
    background: url('../img/test-bg.jpg') no-repeat center center/cover;
    padding-top: 100px;
}

#testimonials h2
{
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

#testimonials .testimonial
{
    padding: 20px;
    margin-bottom: 40px;
    /* Pushes divs down */
    border-radius: 5px;
    opacity: 0.9;
    /* "Opacity" makes the content transparent */
    /* Opcaity has values between 0 and 1 */
    /* The closer you get to "0" the more transparent the content will be */
    /* The closer you get to "1" the less transparent the content will be */
    /* Opacy makes everything inside a div transparent i.e the text, headings, etc... */
    
}

#testimonials .testimonial img
{
    width: 100px;
    float: left;
    margin-right: 20px;
    /* Pushes the text away from the image */
    border-radius: 50%;
    /* Gives the image a circular look */
}

/* Contact Form */

#contact-form .form-group
{
    margin-bottom: 20px;
}

#contact-form label
{
    display: block;
    /* This knocks block level elements onto the next line */
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea
{
    width: 100%;
    /* Displays across the entire screen */
    padding: 10px;
    /* Makes the blocks thicker */
    border: 1px #ddd solid;
}

#contact-form textarea
{
    height: 200px;
}

/* Changing the focus state */

#contact-form input:focus,
#contact-form textarea:focus
{
    outline: none;
    border-color: #f7c08a;
}
/* The focus state is the color of the outline */

/* Footer */

#main-footer
{
    text-align: center;
    background: #444;
    color: #fff;
    padding: 20px;
}


     
